# DEFAULT local
ENV_NAME=development

# APP
VERSION=v1.0.0
SERVER_PORT=4000
SERVER_ADDRESS=:${SERVER_PORT}

# AUTH PLUGIN
PLUGIN_AUTH_ENABLED=false
PLUGIN_AUTH_HOST=http://plugin-auth:4000

# PROTOBUF
PROTO_URL=localhost
PROTO_PORT=7001
PROTO_ADDRESS=:${PROTO_PORT}

# VALKEY
VALKEY_HOST=golang-plugin-boilerplate-valkey
VALKEY_PORT=5704
VALKEY_USER=plugin
VALKEY_PASSWORD=Lerian@123

# POSTGRES
DB_HOST=golang-plugin-boilerplate-postgres-primary
DB_USER=plugin
DB_PASSWORD=Lerian@123
DB_NAME=example
DB_PORT=5432
MIGRATIONS_PATH=./migrations

# DB POSTGRESQL REPLICA
REPLICATION_USER=replicator
REPLICATION_PASSWORD=replicator_password
USER_EXECUTE_COMMAND=postgres

DB_REPLICA_HOST=golang-plugin-boilerplate-postgres-replica
DB_REPLICA_USER=plugin
DB_REPLICA_NAME=example
DB_REPLICA_PASSWORD=Lerian@123
DB_REPLICA_PORT=5434

# SWAGGER
SWAGGER_TITLE='Golang Plugin Boilerplate'
SWAGGER_DESCRIPTION='Documentation boilerplate for goland'
SWAGGER_VERSION=${VERSION}
SWAGGER_HOST=${SERVER_ADDRESS}
SWAGGER_BASE_PATH=/
SWAGGER_SCHEMES=http
SWAGGER_LEFT_DELIMITER={{
SWAGGER_RIGHT_DELIMITER=}}

# LOG LEVEL
LOG_LEVEL=debug

# OPEN TELEMETRY (WITH MIDAZ LGTM SERVICE)
OTEL_RESOURCE_SERVICE_NAME=golang-plugin-boilerplate
OTEL_LIBRARY_NAME=github.com/LerianStudio/golang-plugin-boilerplate
OTEL_RESOURCE_SERVICE_VERSION=${VERSION}
OTEL_RESOURCE_DEPLOYMENT_ENVIRONMENT=${ENV_NAME}
OTEL_EXPORTER_OTLP_ENDPOINT_PORT=4317
OTEL_EXPORTER_OTLP_ENDPOINT=midaz-otel-lgtm:${OTEL_EXPORTER_OTLP_ENDPOINT_PORT}
ENABLE_TELEMETRY=false